# macOS settings file 
.DS_Store

# Contains all dependencies
node_modules

# Deploy files
dist
.dist

# Eventually env files
.env
# .env.*

# npm and yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sam files
.aws-sam
deployment.yaml